@media screen and (max-width:767px){

    body{
        article{
            width: 60%;

            p{
                padding: 10px 20px;
            }

            #boxCreation{

                img{
                    width: 18%;
                }
                    
                
            }
        }
    }

}