/* line 1, ../sass/filePartials/_card.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/filePartials/_card.scss */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d192b;
}
/* line 14, ../sass/filePartials/_card.scss */
body article {
  width: 30%;
  height: 60vh;
  background-color: #14253d;
  border-radius: 15px;
}
/* line 20, ../sass/filePartials/_card.scss */
body article #boxImage {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 30vh;
  border-radius: 15px;
}
/* line 28, ../sass/filePartials/_card.scss */
body article #boxImage img {
  width: 100%;
  border-radius: 15px;
}
